

*{
	margin: 0;
	padding: 0;
}

body{
	background: #fff;
	font-size: 1em;
	font-family: Verdana, sans-serif;
}

/* Area de Navegação*/

#cabecalho{
	background-color:  #000066;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
}

#menu{
	padding: 15px;
	color: #fff;
}

#foto  {
	padding: 15px;
}

#principal{

	color: #6b6b47;
	width: 800px;
	margin: 10px auto;
	background: #ebebe0;
	padding: 100px;
	
}

#rodape {
	
	padding: 3em;
	text-align: center;
	background: #6b6b47;
	color: #fff;

}

/*Formatação Menu*/

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #fff;
	padding: 8px 10px;

}

a:hover {
	color: #0000b3;
	background: #fff;
}


/* Textos*/

h1 {
	width: 800px;
	height: 100px;
	text-align: center;
	padding: 1em;
	
}

h2 {

	
	margin: 1em;
}

p {
	text-align: justify;
	/*text-indent: 1.5em;*/
}


img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	position:absolute;
	right:10px;
	top:10px;
	margin: 25px;
}